# import packages

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle as pkl

In [8]:
# Load processor

In [14]:
with open("processor.pkl","rb")as f:
    processor=pkl.load(f)

# laod model

In [19]:
with open("final_model.pkl","rb")as f:
    model=pkl.load(f)

# Load the test  data

In [22]:
# Define the test data
test_data = {
    'Age': [45, 29, 61, 35, 50],
    'Sex': ['female', 'male', 'female', 'male', 'female'],
    'Job': [3, 1, 2, 4, 2],
    'Housing': ['own', 'rent', 'own', 'free', 'rent'],
    'Saving accounts': ['moderate', 'little', 'rich', 'little', 'NaN'],
    'Checking account': ['rich', 'moderate', 'little', 'NaN', 'rich'],
    'Credit amount': [4500, 2320, 12000, 5600, 3300],
    'Duration': [36, 12, 24, 48, 18],
    'Purpose': ['radio/TV', 'car', 'education', 'furniture/equipment', 'business']
}

# Create a DataFrame
test_df = pd.DataFrame(test_data)

# Display the test DataFrame
test_df

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,45,female,3,own,moderate,rich,4500,36,radio/TV
1,29,male,1,rent,little,moderate,2320,12,car
2,61,female,2,own,rich,little,12000,24,education
3,35,male,4,free,little,NaN,5600,48,furniture/equipment
4,50,female,2,rent,NaN,rich,3300,18,business

# Prediction

In [33]:
model.predict(test_df)

C:\Users\Manan Computer\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [2, 3, 4] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

array([1, 1, 0, 0, 1], dtype=int64)

# Observation
- Finally model can not only prediction  but also can handle the missing values.